.main-header {
  font-family: "Roboto Slab", serif;
  padding: 10px 20px;
  margin: 40px 0;
}

.logo {
  height: 50px; /* προσαρμόζεται ανάλογα με το favicon */
  margin-right: 10px;
}

.site-info h1 {
  margin: 0;
  font-size: 1.8rem;
}

.site-info p {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.2;
}

#login-link,
#sign-up-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.navbar-w-100 {
  background: #15698b;
}

.menu-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  padding: 0;
}

.menu-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.menu-navbar li {
  flex-grow: 1;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
}

.menu-navbar a {
  color: white;
  text-decoration: none; /*αφαιρεί την υπογράμμιση κάτω από το περιεχόμενο*/
}

.menu-navbar li:hover {
  background-color: #01466f;
}

.search-item {
  background-color: #0b5b7c;
}

.site-photo {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center; /* οριζόντια κεντράρισμα */
  align-items: center; /* κάθετο κεντράρισμα */
}

.art_politics_photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("politics_photo.jpeg");
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 20px;
  /* margin-left: -15px; */
  /* margin-right: -15px; */
  padding-bottom: 0;
  color: white;
  width: 100%;
}

.cover_title {
  font-size: 1.2rem;
  color: #bab9b9;
  margin-left: 10px;
}

.cover_title ::before {
  content: "» "; /*unicode character U+00BB */
  color: #e6222e;
  font-weight: bold;
}

.art_content_container {
  margin: 20px 20px 20px 20px;
}

.art_content {
  margin-bottom: 20px;
}

.art_title {
  margin-top: 220px;
  font-size: 20px;
}

.art_content_analysis {
  margin-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr; /* Τέσσερις στήλες */
  padding: 20px;
}

.column {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}

.sub-grid-container {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr; /* Τέσσερις ίσες στήλες */
  gap: 20px; /* Απόσταση ανάμεσα στις στήλες */
  padding: 20px;
}

.head-article3 {
  background-color: #bfb3a3;
  padding: 20px;
}

.esoda_ttp {
  background-color: #15698b;
  color: white;
  padding: 15px 15px;
  margin-bottom: 20px;
  font-family: "Roboto Slab";
}

.kit_epiviosis {
  background-color: #bf121c;
  color: white;
  padding: 15px 15px;
  font-family: "Roboto Slab";
}

.kit_epiviosis_content,
.esoda_ttp_content {
  border-bottom: 2px solid white;
}

.kit_epiviosis_title,
.esoda_ttp_title {
  font-weight: 700;
  font-size: 18px;
}
.kit_epiviosis_paragraf,
.esoda_ttp_paragraf {
  font-size: 14px;
  font-weight: 300;
}

.main-content {
  max-width: 1350px;
  /* position: fixed;  palia entoli pou eixa alla katargoyse to schrool*/
  margin: 0 auto;
  position: relative;
}

body {
  /* display: flex; */
  /* justify-content: center; */
}

.header-background {
  background-color: #003b59;
  height: 186px;
  width: 100%;
}
.support {
  background-color: #8e1c52;
  color: rgba(255, 255, 255, 0.605);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  transition: color 0.3s;
}

.support:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.nav-test {
  background-color: brown;
  display: inline-block;
}

.article {
  border-bottom: solid 1px #e3e3e3;
  font-size: 15px;
  margin-bottom: 10px;
}

.time {
  color: #b1b1b1;
  font-size: 0.8125em;
  font-family: "Roboto Condensed", sans-serif;
}

.title {
  font-size: 1.2rem;
  color: #999;
}

.title::before {
  content: "» "; /*unicode character U+00BB */
  color: #e6222e;
  font-weight: bold;
}

.art_more::before {
  content: "» "; /*unicode character U+00BB */
  color: #e6222e;
}

.reportaz {
  border-top: 3px solid #009ae9;
  margin-top: -2px;
}

.analisi {
  border-top: 3px solid #9d3b2e;
  margin-top: -2px;
}

.tppRadio {
  border-top: 3px solid #7d0068;
  margin-top: -2px;
}

* {
  box-sizing: border-box;
}

.TTP_social {
  margin-top: 20px;
}
.TTP_FB_page {
  font-size: 0.875em;
  font-weight: 500;
}
.TTP_FB_page_btn {
  background: #3b5998;
  color: #fff;
  font-size: 14px;
}

.column2 {
  border-left: solid 1px #e3e3e3;
  border-right: solid 1px #e3e3e3;
}

.newsletter_photo,
.calendar_photo {
  width: 100%;
  height: auto;
}

.row1,
.row2,
.row3 {
  display: flex;
}
.r1c1 {
  max-width: 66.66667%;
}
.r1c2 {
  max-width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
}

.r2c1,
.r2c2,
.r3c1,
.r3c2 {
  max-width: 50%;
  padding-right: 25px;
  padding-left: 25px;
}

.c_title {
  border-top: 3px solid #003b59;
  border-bottom: 1px solid #000;
}
.c_title::before {
  content: "» "; /*unicode character U+00BB */
  color: #e6222e;
}

.sinaulia-gia-to-paidi img,
.building img,
.oikonomia img,
.International img {
  max-width: 100%;
  height: auto;
  position: relative;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}
.sinaulia-gia-to-paidi p,
.oikonomia p,
.building p,
.International p,
.r2c1_article,
.r2c2_article,
.r3c1_article,
.r3c2_article {
  border-bottom: solid 1px #e3e3e3;
  margin-bottom: 10px;
}
